<div
  class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary vh-100"
>
  <div
    class="offcanvas-md offcanvas-end bg-body-tertiary"
    tabindex="-1"
    id="sidebarMenu"
    aria-labelledby="sidebarMenuLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarMenuLabel">Siwes</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        data-bs-target="#sidebarMenu"
        aria-label="Close"
      ></button>
    </div>
    <div
      class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto"
    >
      <% if (res.locals.schGenCord) { %>
      <ul class="nav flex-column">
        <li class="nav-item mb-3 mt-3">
          <a
            class="nav-link d-flex align-items-center gap-2 active"
            aria-current="page"
            href="/dashboard"
          >
            <i class="fa fa-dashboard"></i> Dashboard
          </a>
        </li>

        <li class="nav-item mb-3">
          <a
            class="nav-link d-flex align-items-center gap-2"
            href="/approvedstds"
          >
            <i class="fa fa-users"></i>Approved Students
          </a>
        </li>

        <li class="nav-item mb-3">
          <a
            class="nav-link d-flex align-items-center gap-2"
            href="/student-work"
          >
            <i class="fa fa-user"></i> Students workdone
          </a>
        </li>

        <li class="nav-item mb-3">
          <a
            class="nav-link d-flex align-items-center gap-2"
            href="/dept-cordinators"
          >
            <i class="fa fa-users"></i>Dept Cordinators
          </a>
        </li>
      </ul>

      <hr class="my-3" />

      <ul class="nav flex-column mb-auto">
        <li class="nav-item mb-3">
          <a
            class="nav-link d-flex align-items-center gap-2"
            href="/change-password"
          >
            <i class="fa fa-gear"></i>
            Settings
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center gap-2"
            href="/schGenCord-logout"
          >
            <i class="fa fa-door-closed"></i>
            Sign out
          </a>
        </li>
      </ul>

      <% } else if (res.locals.deptCord) { %>
      <ul class="nav flex-column">
        <li class="nav-item mb-3 mt-3">
          <a
            class="nav-link d-flex align-items-center gap-2 active"
            aria-current="page"
            href="/lecturer/dashboard"
          >
            <i class="fa fa-dashboard"></i> Dashboard
          </a>
        </li>

        <li class="nav-item mb-3">
          <a class="nav-link d-flex align-items-center gap-2" href="/lecturer/IT-students">
            <i class="fa fa-users"></i>IT Students
          </a>
        </li>

        <hr class="my-3" />

        <ul class="nav flex-column mb-auto">
          <li class="nav-item mb-3">
            <a
              class="nav-link d-flex align-items-center gap-2"
              href="/lecturer/change-password"
            >
              <i class="fa fa-gear"></i>
              Settings
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link d-flex align-items-center gap-2"
              href="/lecturer/logout"
            >
              <i class="fa fa-door-closed"></i>
              Sign out
            </a>
          </li>
        </ul>
      </ul>

      <% } else if (res.locals.student) { %>
        <ul class="nav flex-column">
          <li class="nav-item mb-3 mt-3">
            <a
              class="nav-link d-flex align-items-center gap-2 active"
              aria-current="page"
              href="/student/dashboard"
            >
              <i class="fa fa-dashboard"></i> Dashboard
            </a>
          </li>
  
          <li class="nav-item mb-3">
            <a class="nav-link d-flex align-items-center gap-2" href="/student/logbook">
              <i class="fa fa-book"></i>Logbook
            </a>
          </li>
  
          <hr class="my-3" />
  
          <ul class="nav flex-column mb-auto">
            <li class="nav-item mb-3">
              <a
                class="nav-link d-flex align-items-center gap-2"
                href="/student/change-password"
              >
                <i class="fa fa-gear"></i>
                Settings
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center gap-2"
                href="/student/logout"
              >
                <i class="fa fa-door-closed"></i>
                Sign out
              </a>
            </li>
          </ul>
        </ul>
      <% } %>
    </div>
  </div>
</div>
